<!-- <div class="main-top">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="text-slid-box">
              <a class="navbar-brand" href="#">
                <h4>Turn A Page With Us</h4>
              </a>
            </div>
        </div>
        <div class="right-phone-box">
            <p>Call US :- <a href="#"> +91 1234567890</a></p>
        </div>
        <div class="our-link">
            <ul>
                <li><a [routerLink]="['/login']" routerLinkActive="home"
                  [routerLinkActiveOptions]="{exact:true}">
                    My Account</a></li>
                <li><a href="#">Our location</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    </div>
</div> -->

<div>
  <router-outlet></router-outlet>
</div>
